<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form (ngSubmit)="enviarFormulario()" #formularioLogin="ngForm">
      <ion-item class="container">
        <ion-input
          type="text"
          name="usuario"
          [(ngModel)]="datosLogin.usuario"
          required
          #usuario="ngModel"
          placeholder="Coloque su Usuario"
        ></ion-input>
      </ion-item>

      <ion-item class="container">
        <ion-input type="password" name="contrasena" [(ngModel)]="datosLogin.contrasena" required minlength="6" #contrasena="ngModel"
        placeholder="Coloque su contraseña"></ion-input>
      </ion-item>


    <ion-button class="btn-ing-reg" color="warning" expand="block" type="submit">Ingresar</ion-button>
    <ion-button class="btn-ing-reg" color="warning" expand="block" [routerLink]="'/registro'">Registrar</ion-button>

  </form>
</ion-content>



