<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label>¡Bienvenido!</ion-label>
  </ion-item>
 




  <div class="image-container">
    <img src="https://w0.peakpx.com/wallpaper/560/825/HD-wallpaper-bodybuilder-gym-hard-healthy-life-happy.jpg" alt="Make Your Body Great" class="responsive-img">
    <div class="button-overlay">
      <ion-button color="warning" (click)="irRutina()">Encuentra tu Rutina</ion-button>
    </div>
  </div>




  <div class="image-container">
    <img src="https://i.pinimg.com/736x/a8/35/87/a83587f50d912a715399fb3fb40d01f4.jpg" alt="Like Him!" class="responsive-img">
    <div class="button-overlay">
      <ion-button color="warning" (click)="irContador()">Controla tu Alimentación</ion-button>
    </div>
  </div>  


  <div class="image-container">
    <img src="https://i.ytimg.com/vi/dfng4m2T6u8/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgUyhJMA8=&rs=AOn4CLAxdcFFygcBgKRnuT3s--Nhvk7ZQg" alt="creatina">
    <div class="button-overlay">
      <ion-button color="warning" (click)="irSponsors()">Compra tus Productos Aquí</ion-button>
    </div>
  </div>


</ion-content>

















