<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label>¡Bienvenido!</ion-label>
    <ion-text>{{ nombreUsuario }}</ion-text>
  </ion-item>
  <ion-button color="warning" (click)="irRutina()">Rutina</ion-button>
  <ion-button color="warning" (click)="irContador()">Contador</ion-button>
  <ion-button color="warning" (click)="irIMC()">Tu IMC</ion-button>


  <img src="https://w0.peakpx.com/wallpaper/560/825/HD-wallpaper-bodybuilder-gym-hard-healthy-life-happy.jpg" alt="Make Your Body Great" class="responsive-img">
  <div class="labell">
    <ion-label>Make your body great!</ion-label>
  </div>
  <br>


  <img src="https://i.pinimg.com/736x/a8/35/87/a83587f50d912a715399fb3fb40d01f4.jpg" alt="Like Him!" class="responsive-img">
  <div class="labell">
    <ion-label>Like Him!</ion-label>
  </div>

</ion-content>







